@page
@model IndexModel
@using System.Web
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

</div>
<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model.Charts)
         {
            <div class="col-sm">
                <div id="chart-@item.Title"></div>
            </div>
         }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        @foreach (var item in Model.Charts)
        {
            @:var chart_@item.Title = new google.visualization.ColumnChart(document.getElementById('chart-@item.Title'));

        }

            connection.on("ReceiveMessage", function (queue, message,setting) {
            @foreach (var item in Model.Charts)
                {
                @:if ('@item.QueueName' === queue)
                @:{
                      @:var color = (message >= setting.threshold) ? 'red' : setting.color;
                      @:var options_@item.Title = {
                      @:  title: setting.chartDescription,
                      @:  height: 300,
                      @:  width: 250,
                      @:  vAxis: {
                      @:      format:'decimal',
                      @:      viewWindow: {
                      @:          max: 100,
                      @:          min: 0
                      @:      }
                      @:  },
                      @:  legend: { position: 'none' },
                      @:  colors: [`${color}`]
                      @:};
                      @Html.Raw(item.GenerateScript())


                @:}
            }

            });
        }
    </script>
}
